*{
    padding:0;
    margin:0;
    box-sizing:border-box;
  }
  body{
    background-color:black;
    color: white;
  }
  .container{
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius:10px;
    align-items:center;
    justify-content:center;
    transition:0.4s ease-in-out;
  }
  
  .container:hover{
    transform:scale(1.1);
  }
  
  .inputs{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items:center;
    padding-left: 5%;
    margin-top:10%;
  }
  .input-date{
    margin:5px;
  }
  .input-month{
    margin:5px;
  }
  .input-year{
    margin:5px;
  }
  .date{
    font-size:2rem;
    width:100%;
    margin:5px;
    border-radius:20px;
    border:1px solid transparent;
    color:black;
    transition:0.5s ease;
  }
  .date:hover{
    transform:scale(0.9);
    background-color:blue;
    color:white;
    opacity:0.7;
    
  }
  .month{
    font-size:2rem;
    width:100%;
    margin:5px;
    border-radius:20px;
    border:1px solid transparent;
    color:black;
    transition:0.5s ease;
  }
  .month:hover{
    transform:scale(0.9);
    background-color:blue;
    color:white;
    opacity:0.7;
  }
  .year{
    font-size:2rem;
    width:100%;
    margin:5px;
    border-radius:20px;
    border:1px solid transparent;
    color:black;
    transition:0.5s ease;
  }
  .year:hover{
    transform:scale(0.9);
    background-color:blue;
    color:white;
    opacity:0.7;
  }
  input[type="number"]{
    width: 55%;
    padding: 5px;
    font-size: 1rem;
    font-weight: 600;
  }
  .label{
    font-size:2rem;
    margin:5px;
    font-family:cursive;
  }
  h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items:center;
    font-size:3rem;
    color:blue;
  }
  .button{
    font-size:1rem;
    align-items:center;
    font-weight:600;
    background-color: transparent;
    color:white;
    border:1px solid white;
    border-radius:10px;
    padding:8px 5px 8px 5px;
    cursor: pointer;
    transition:0.5s ease;
  }
  
  .button:hover{
    opacity: 0.7;
  }
  #output{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:1rem;
    text-align:center;
    color:#a65151;
  }
  .submits{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 9%;
  }
  @media screen and (max-width:765px){
    .button{
      margin-left:10%;
    }
    .container:hover{
      transform:scale(0.9);
      box-shadow:8px 8px 9px gray;
    }
  }
@media screen and (min-width: 770px){
  .button{
    padding:10px 6px 10px 6px;
    font-size: 1.5rem;
  }
  #output{
    padding-bottom: 2.5%;
  }
}